.so-widget-sow-slider-default-811cffe1847d .sow-slider-base .sow-slider-pagination li a {
  background: #ff0505;
}
.so-widget-sow-slider-default-811cffe1847d .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-811cffe1847d .sow-slider-base .sow-slide-nav a {
  color: #ff0505;
}
